[defaults]
host_key_checking  = false
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache
library = library
gather_facts = true
gather_subset = network, hardware
interpreter_python = auto
log_path = /var/log/ansible.log
ansible_user = ansibleuser

[connection]
pipelining = True

[ssh_connection]
pipelining = True
